$extra-small: 480px;
$small: 600px;
$medium: 900px;
$large: 1026px;
$extra-large: 1300px;

$xs: $extra-small;
$sm: $small;
$md: $medium;
$lg: $large;
$xl: $extra-large;

$desktop-max: 1200px;

$spacer: 20px;
